<img src="{{ project.image }}" alt="" class="project-header" />

<section>
  <div class="card">
    <img id="project-logo" src="{{ project.logo }}" alt="" />

    <div class="project-intro">
      <h1>{{ project.name }}</h1>
      <p>{{ project.introduction }}</p>
    </div>

    <div class="box-btn">
      <button class="btn-global">Back this project</button>
      <button id="bookmark">
        <img src="assets/images/icon-bookmark.svg" alt="" id="bookmark-icon" />
        <p id="bookmark-text">bookmark</p>
      </button>
    </div>
  </div>

  <div class="card">
    <ul>
      <li>
        {{ project.total_earned | currency }}
        <p>{{ project.goal }}</p>
      </li>
      <li id="count-separation">
        {{ project.total_backer }}
        <p>total backers</p>
      </li>
      <li>
        56
        <p>days left</p>
      </li>
    </ul>

    <div class="progressBar">
      <div class="progress"></div>
    </div>
  </div>

  <div class="card">
    <div class="about">
      <h3>About this project</h3>
      <br />
      <p>
        {{ project.about }}
      </p>
    </div>

    <div class="rewards-box" *ngFor="let reward of project.rewards">
      <div class="stand">
        <div class="pledge-box">
          <h3>{{ reward.name }}</h3>
          <p class="pledge">Pledge ${{ reward.pledge }} or more</p>
        </div>
        <p>{{ reward.description }}</p>

        <div class="box-btn">
          <p class="stand-left">
            <span class="left-number"> {{ reward.quantity }}</span> left
          </p>
          <button class="btn-global">Select Reward</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Selection modal start -->
  <div class="modal">
    <div class="modal-box">
      <h3>Back this project</h3>

      <p>
        Want to support us in bringing Mastercraft Bamboo Monitor Riser out in
        the world?
      </p>

      <div class="stand">
        <input type="checkbox" name="" id="" />
        <h3>PLedge with no rewards</h3>
        <p>
          Choose to support us without a rewards if you simply believe in our
          project . As a backer, you will be signed up to receive product
          updates via email
        </p>
      </div>

      <div class="rewards-box" *ngFor="let reward of project.rewards">
        <div class="stand">
          <div class="pledge-box">
            <h3>{{ reward.name }}</h3>
            <p class="pledge">Pledge ${{ reward.pledge }} or more</p>
          </div>
          <p>{{ reward.description }}</p>

          <div class="box-btn">
            <p class="stand-left">
              <span class="left-number"> {{ reward.quantity }}</span> left
            </p>
            <button class="btn-global">Select Reward</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
