<section>
  <div class="card">
    <img id="project-logo" src="/images/logo-mastercraft.svg" alt="" />

    <div class="project-intro">
      <h1>Mastercraft Bamboo Monitor Riser</h1>
      <p>
        A beautiful & handcrafted monitor stand to reduce neck and eye strain.
      </p>
    </div>

    <div class="box-btn">
      <button class="btn-global">Back this project</button>
      <button id="bookmark">
        <img src="/images/icon-bookmark.svg" alt="" id="bookmark-icon" />
        <p id="bookmark-text">bookmark</p>
      </button>
    </div>
  </div>

  <div class="card">
    <ul>
      <li>
        $89,914
        <p>of $100,000 backed</p>
      </li>
      <li id="count-separation">
        5,007
        <p>total backers</p>
      </li>
      <li>
        56
        <p>days left</p>
      </li>
    </ul>

    <div class="progressBar">
      <div class="progress"></div>
    </div>
  </div>

  <div class="card">
    <div class="about">
      <h3>About this project</h3>
      <br />
      <p>
        The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform
        that elevates your screen to a more comfortable viewing height. Placing
        your monitor at eye level has the potential to improve your posture and
        make you more comfortable while at work, helping you stay focused on the
        task at hand.

        <br />
        <br />

        Featuring artisan craftsmanship, the simplicity of design creates extra
        desk space below your computer to allow notepads, pens, and USB sticks
        to be stored under the stand.
      </p>
    </div>

    <div class="stand">
      <div class="pledge-box">
        <h3>Bamboo Stand</h3>
        <p class="pledge">Pledge $25 or more</p>
      </div>

      <p>
        You get an ergonomic stand made of natural bamboo. You've helped us
        launch our promotional campaign, and you’ll be added to a special Backer
        member list.
      </p>
      <div class="box-btn">
        <p class="stand-left"><span class="left-number"> 101</span> left</p>
        <button class="btn-global">Select Reward</button>
      </div>
    </div>

    <div class="stand">
      <div class="pledge-box">
        <h3>Black Edition Stand</h3>
        <p class="pledge">Pledge $75 or more</p>
      </div>

      <p>
        You get a Black Special Edition computer stand and a personal thank you.
        You’ll be added to our Backer member list. Shipping is included.
      </p>
      <div class="box-btn">
        <div class="stand-left"><span class="left-number"> 64</span> left</div>
        <button class="btn-global">Select Reward</button>
      </div>
    </div>

    <div class="stand">
      <div class="pledge-box">
        <h3>Mahogany Special Edition</h3>
        <p class="pledge">Pledge $200 or more</p>
      </div>
      <p>
        You get two Special Edition Mahogany stands, a Backer T-Shirt, and a
        personal thank you. You’ll be added to our Backer member list. Shipping
        is included.
      </p>
      <div class="box-btn">
        <div class="stand-left"><span class="left-number">0</span> left</div>
        <button class="btn-global">Out of Stock</button>
      </div>
    </div>
  </div>
  <!-- Selection modal start -->
  <div class="modal">
    <h3>Back this project</h3>

    <p>
      Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the
      world?
    </p>

    <div class="stand">
      <h3></h3>
      <div class="stand-left"><span class="left-number">0</span> left</div>
    </div>
  </div>
</section>
