<!--* PROJECT introduction -->

<img src="{{ project.image }}" alt="" class="project-header" />
<section>
  <div class="card">
    <img id="project-logo" src="{{ project.logo }}" alt="" />

    <div class="project-intro">
      <h1>{{ project.name }}</h1>
      <p>{{ project.introduction }}</p>
    </div>

    <div class="box-btn" style="display: flex;">
      <button class="btn-global" (click)="toggleAllPledge()">Back this project</button>
      <button id="bookmark" (click)="toggleBookmark()">

        <svg width="56" height="56" xmlns="http://www.w3.org/2000/svg" id="bookmark-icon"  [ngClass]="{'rotate-bkm': bookmarked,'translate-bkm':bookmarked}">
          <g fill="none" fill-rule="evenodd">
            <circle fill="#2F2F2F" cx="28" cy="28" r="28" [ngStyle]="{'fill' : bookmarked ? '#49a8a8' : 'black'}"/>
            <path fill="#B1B1B1" d="M23 19v18l5-5.058L33 37V19z" [ngStyle]="{'fill' : bookmarked ? 'white' : 'grey'}"/>
          </g>
        </svg>

        <p id="bookmark-text" *ngIf="!isSmallScreen" [ngClass]="{'bookmarked-text': bookmarked} " [ngStyle]="{'margin-left': bookmarked ? '34px' : '84px'}" >{{bookmarkText()}}</p>
      </button>
    </div>
  </div>

<!--*   PROJECT stats -->
  <div class="card">
    <ul>
      <li>
        <div class="project-figure"> {{ project.total_earned  + totalPayment | currency }} </div>
         <p> of <span style="padding-right: 5px;padding-left: 5px;">{{ project.goal  | currency}}</span> backed</p>
      </li>
      <li id="count-separation">
        <div class="project-figure"> 
          {{ project.total_backer }}
        </div>
          
        <p>total backers</p>
      </li>
      <li>
        <div class="project-figure">
          56
        </div>
        <p>days left</p>
      </li>
    </ul>

    <div class="progressBar">
      <div class="progress" [ngStyle]="{'width': ((project.total_earned + totalPayment) / project.goal)*100 +'%'}" ></div>
    </div>
  </div>

  <div class="card">
    <div class="about">
      <h3>About this project</h3>
      <br />
      <p>
        {{ project.about }}
      </p>
    </div>

<!--*   REWARDS -->

    <div class="rewards-box" *ngFor="let reward of project.rewards" >
     
      <div class="stand">
        <div class="pledge-box">
          <h3>{{ reward.name }}</h3>
          <p class="pledge">Pledge ${{ reward.pledge }} or more</p>
        </div>
        <p class="reward-description">{{ reward.description }}</p>

        <div class="box-btn">
          <p class="stand-left">
            <span class="left-number"> {{ reward.quantity }}</span> left
          </p>
          <button class="btn-global" (click)="onSelect(reward)">Select Reward</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!--* MODAL -->
<!-- TODO : Turn into compnent -->

<div class="modal" *ngIf="showModal">
  <div class="modal-box">

    <!--* Modal with all rewards -->
      <div *ngIf="!confirmPay && allPledges">
        <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" (click)="toggleAllPledge()"  id="closeCross"><path d="M11.314 0l2.828 2.828L9.9 7.071l4.243 4.243-2.828 2.828L7.07 9.9l-4.243 4.243L0 11.314 4.242 7.07 0 2.828 2.828 0l4.243 4.242L11.314 0z" fill="#000" fill-rule="evenodd" opacity=".4"/></svg >
          <h2 style="font-size:large;"> Back this project</h2>
          
          <p id="modal-text">
            Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the
            world?
          </p>
          
          <!-- DEFAULT PLEDGE -->
            <div class="modal-rewards" style="border: 1px solid lightgrey" id="default-reward" (click)="selectDefault()"[ngClass]="{'opened-reward' : defaultPledge, 'closed-reward': !defaultPledge }">
              <div class="modal-rewards-top">
                <div class="radio"> <div class="radio-select"  *ngIf="defaultSelected"></div> </div>
                <div class="modal-pledge-box" >
                    <h3>Pledge with no rewards</h3>
                </div>
                <p>Choose to support us without a rewards if you simply believe in our
                    project . As a backer, you will be signed up to receive product updates via email</p>
              </div>
              <div class="modal-rewards-bottom bottomSlide" *ngIf="defaultSelected">
                <p><label for="payment"><em>Enter your pledge</em></label></p>
  
                  <form (ngSubmit)="submit(df)" #df="ngForm">
                    <div class="input-btn">
                     <p>
                       <i class="fas fa-heart"></i>
                    </p> 
                       
                      <input type="number"  id="payment" name="payment"  placeholder="" [ngModel]="defaultPledge">
                    </div>
                    <button type="submit" class="btn-global" >Continue</button>
                  </form>
              </div>
            </div>
         
          <!-- PROJECT PLEDGE -->
          <div class="modal-rewards-box" >

            <div class="modal-rewards" 
              (click)="hideShowEffect(reward)" 
              *ngFor="let reward of project.rewards"

              [ngClass]="{'opened-reward' : reward.hide, 'closed-reward': !reward.hide }">
                <div class="modal-rewards-top">
                  <div class="radio"> <div class="radio-select"  *ngIf="reward.hide"></div> </div>
                  <div class="modal-pledge-box" >
                    <h3 style="margin-right: 20px">{{ reward.name }}</h3>
                    <p class="pledge">Pledge ${{ reward.pledge }} or more</p>
                  </div>
                  <p>{{ reward.description }}</p>
                  <div class="box-btn">
                    <p class="modal-rewards-left">
                      <strong style="font-size: larger; margin-right: 5px">{{ reward.quantity }}</strong>left</p>
                  </div>
                </div>
                    
                <div class="modal-rewards-bottom bottomSlide" *ngIf="reward.hide">
                  <p><label for="payment"><em>Enter your pledge</em></label></p>
                    <form (ngSubmit)="onSubmit(f,reward)" #f="ngForm">
                      <div class="input-btn">
                        <p>$</p>
                        <input type="number"  id="payment"name="payment" min="{{reward.pledge | currency}}" [ngModel]="reward.pledge" required>
                      </div>
                      <button type="submit" class="btn-global" [disabled]="f.invalid" >Continue</button>
                    </form>
                </div>
            </div>
          </div>
      </div>
    <!--*  Modal selected reward -->
      <div *ngIf="!confirmPay && !allPledges">
        <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" (click)="toggleModal()"  id="closeCross"><path d="M11.314 0l2.828 2.828L9.9 7.071l4.243 4.243-2.828 2.828L7.07 9.9l-4.243 4.243L0 11.314 4.242 7.07 0 2.828 2.828 0l4.243 4.242L11.314 0z" fill="#000" fill-rule="evenodd" opacity=".4"/></svg >
          <h3>Back this project</h3>
          
          <p id="modal-text">
            Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the
            world?
          </p>
          <div class="modal-rewards-box" >
            
            <div class="modal-rewards" (click)="togglePledge()" [ngClass]="{'opened-reward' : !reward.hide}" >
                <div class="modal-rewards-top">
                <div class="modal-pledge-box">
                  <h3 style="margin-right: 20px">{{ selectedReward.name }}</h3>
                  <p class="pledge">Pledge ${{ selectedReward.pledge }} or more</p>
                </div>
                
                <p>{{ selectedReward.description }}</p>
                
                <div class="box-btn">
                  
                  <p class="modal-rewards-left">
                    <strong style="font-size: larger; margin-right: 5px">
                      {{ selectedReward.quantity }}</strong>left</p>
                    </div>
                  </div>

                <div class="modal-rewards-bottom" >

                  <p><em>Enter your pledge</em></p>
                
                    <form (ngSubmit)="onSubmit(f,selectedReward)" #f="ngForm">
                      <div class="input-btn">
                        <p >$</p>
                        <input type="number"  name="payment" min="{{ selectedReward.pledge | currency}}" [ngModel]="selectedReward.pledge" required>
                      </div>
                      <button type="submit" class="btn-global" [disabled]="f.invalid" >Continue</button>
                    </form>
              </div>
            </div>
          </div>
      </div>
    <!--* Modal contribution sucess -->
      <div *ngIf="confirmPay" style="text-align: center; width: 100%;">
          <svg width="64" height="64" xmlns="http://www.w3.org/2000/svg" style="transform: scale(1.3); margin-bottom:30px"><g fill="none" fill-rule="evenodd"><circle fill="#3CB3AB" cx="32" cy="32" r="32"/><path stroke="#FFF" stroke-width="5" d="M20 31.86L28.093 40 44 24"/></g></svg>
          <h1 style="margin-bottom: 20px;">Thanks you for suppport !</h1>
          <p style="margin-bottom: 20px;">{{project.thanks}}</p>
          <button class="btn-global" (click)="toggleModal()"  >Get it !</button>
      </div>
  </div>
</div>

<!-- END MODAL -->
